.education {
    margin-top: 15px;
    text-align: center;
    .edu-period {
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
    }
    .edu-field {
        font-size: 14px;
        line-height: 30px;
    }
}
