.certifications {
    text-align: center;
    margin-top: 15px;
    .cert-title {
      font-size: 15px;
      font-style: italic;
      color: #2f4f4f;
      padding-inline: 15px;
    }
    .cert-details {
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      padding-inline: 14px;
      color: #191978;
      a {
        color: #191978;
      }
    }
  }