.cv-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 220px 220px 1fr 145px 100px;
  grid-auto-flow: dense;
  margin: 20px auto;
  width: 70%;
  height: 1200px;
  background-color: #e7e7a6;
  section {
    padding: 5px;
  }
}
