.cv-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 220px 270px auto auto auto;
  grid-auto-flow: dense;
  margin: 20px auto;
  width: 820px;
  height: auto;
  padding: 5px;
  background: #1185c1;
  background: linear-gradient(0deg, #f6f5f5 0%, rgba(96, 111, 204, 0.88) 0%, #efefef 100%);
  section {
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    background-color: #fff;
  }
}
